body {
  background-color: #a070c3;
}

#main-title {
  font-family: 'Kaushan Script', cursive;
  color: white;
  text-align: center;
  font-size: 80px;
  margin-top: 10%;
  margin-bottom: 20px;
}

.btn {
  background-color: #a070c3;
  color: white;
}

#map {
  height: 360px;
  width: 100%;
}