{% extends "layout.html" %}
{% block content %}
<section class="vh-100">
  <div id="login-container" class="container">

    <div class="row d-flex justify-content-center align-items-center">
      <h1 class="title" id="main-title">Oh Gee!</h1>
      <h2 class="title" id="subtitle">(2G/3G Checker)</h2>
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div id="login-card" class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">Sign in</h3>

            <form method="POST" action="">
              {{ form.hidden_tag() }}
              <div class="form-outline mb-4">
                {{ form.email.label(class="form-label") }}
                {% if form.email.errors %}
                {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.email.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
              </div>

              <div class="form-outline mb-4">
                {{ form.password.label(class="form-label") }}
                {% if form.password.errors %}
                {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.password.errors %}
                  <span>{{ error }}</span>
                  {% endfor %}
                </div>
                {% else %}
                {{ form.password(class="form-control form-control-lg") }}
                {% endif %}
              </div>

              <!-- Checkbox -->
              <div class="form-check d-flex justify-content-start mb-4">
                {{ form.remember(class="form-check-input") }}
                {{ form.remember.label(class="form-check-label ms-2") }}
              </div>

              {{ form.submit(class="btn btn-lg btn-block") }}
            </form>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} mt-4">
              {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}