{% extends "layout.html" %}
{% block content %}
<section class="vh-100">
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <h1 class="title" id="main-title">Oh Gee!</h1>
      <h2 class="title" id="subtitle">(2G/3G Checker)</h2>
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">Where do you want to go?</h3>

            <form id="search-form" method="GET" action="">

              <div class="input-box form-outline mb-4">
                {{ form.search(class="input form-control form-control-lg", placeholder="Search") }}
              </div>

              <div class="input-box form-outline mb-4">
                {{ form.venue_type(class="input form-control form-control-lg") }}
              </div>

              <div class="input-box form-outline mb-4">
                {{ form.entry_requirement(class="input form-control form-control-lg") }}
              </div>
              {{ form.lat }}
              {{ form.lng }}
              <div id="submit-buttons">
                <input id="search-button" type="button" value="Search" class="btn btn-lg btn-block">
                <input id="search-near-me" type="button" value="Search near me" class="btn btn-lg btn-block">
              </div>
            </form>
            <div id="map"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    {% if venues | length > 0 %}
    const venues = {{ venues| tojson(indent = 2) }};
    {% else %}
    const venues = [];
    {% endif %}
  </script>

  <script src="static/location.js"></script>
  <script src="static/map.js"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}&callback=initMap&v=weekly&language=en&libraries=places"
    async></script>
</section>
{% endblock content %}